.error{color: red; text-align: center;}
.success{color: green; text-align: center;}
table tr td{padding: 3px;}
p{text-align: center;margin-top: 100px;}
input{width: 200px;}
input[type='submit']{width: 80px; cursor: pointer;}
.container{margin: 0 auto; width: 1000px; background-color: white;}
table.tbl2 , .tbl2 td, .tbl2 th{border: 1px solid #ddd;}
.tbl2 tr td{text-align: center;}
.tbl2 tr:nth-child(even){background-color: #FCFFFF;}
.tbl2 th{background-color: #7BB94C}
.tbl2 tr:nth-child(odd){background-color: #d0d0d0}
.tbl2 tr td{padding: 8px;}
.address input{width: 400px; height: 50px;}
.btn{width:65px; cursor: pointer;}
.search{margin-left: 192px;}
